/*************************
 * GRID SCHEDULE LAYOUT
 *************************/
 @media screen and (min-width:0px) {
    .schedule {
      display: grid;
      /* grid-gap: 0.2em; */
      grid-template-rows:
        [tracks] auto
        [time-int] 0em
        [time-1-int] 0em
        [time-0600] 1.0em
        [time-0615] 1.0em
        [time-0630] 1.0em
        [time-0645] 1.0em
        [time-2-int] 0em
        [time-0700] 1.0em
        [time-0715] 1.0em
        [time-0730] 1.0em
        [time-0745] 1.0em
        [time-3-int] 0em
        [time-0800] 1.0em
        [time-0815] 1.0em
        [time-0830] 1.0em
        [time-0845] 1.0em
        [time-4-int] 0em
        [time-0900] 1.0em
        [time-0915] 1.0em
        [time-0930] 1.0em
        [time-0945] 1.0em
        [time-5-int] 0em
        [time-1000] 1.0em
        [time-1015] 1.0em
        [time-1030] 1.0em
        [time-1045] 1.0em
        [time-6-int] 0em
        [time-1100] 1.0em
        [time-1115] 1.0em
        [time-1130] 1.0em
        [time-1145] 1.0em
        [time-7-int] 0em
        [time-1200] 1.0em
        [time-1215] 1.0em
        [time-1230] 1.0em
        [time-1245] 1.0em
        [time-8-int] 0em
        [time-1300] 1.0em
        [time-1450] 1.0em
        [time-1315] 1.0em
        [time-1330] 1.0em
        [time-1345] 1.0em
        [time-9-int] 0em
        [time-1400] 1.0em
        [time-1415] 1.0em
        [time-1430] 1.0em
        [time-1445] 1.0em
        [time-10-int] 0em
        [time-1500] 1.0em
        [time-1515] 1.0em
        [time-1530] 1.0em
        [time-1545] 1.0em
        [time-11-int] 0em
        [time-1600] 1.0em
        [time-1615] 1.0em
        [time-1630] 1.0em
        [time-1645] 1.0em
        [time-12-int] 0em
        [time-1700] 1.0em
        [time-1715] 1.0em
        [time-1730] 1.0em
        [time-1745] 1.0em
        [time-13-int] 0em
        [time-1800] 1.0em
        [time-1815] 1.0em
        [time-1830] 1.0em
        [time-1845] 1.0em
        [time-14-int] 0em
        [time-1900] 1.0em
        [time-1915] 1.0em
        [time-1930] 1.0em
        [time-1945] 1.0em;
        /* Note 1:
        [time-15-int] 0fr
        Use 24hr time for gridline names for simplicity
  
        Note 2: Use "auto" instead of "1fr" for a more compact schedule where height of a slot is not proportional to the session length. Implementing a "compact" shortcode attribute might make sense for this!
        Try 0.5fr for more compact equal rows. I don't quite understand how that works :)
        */
        /* grid-template-columns: min-content auto; */

      grid-template-columns:
        [times] 2em
        [track-0-int] 0
        [track-1-start] 1fr
        [track-1-int] 0
        [track-1-end track-2-start] 1fr
        [track-2-int] 0
        [track-2-end track-3-start] 1fr
        [track-3-int] 0
        [track-3-end track-4-start] 1fr
        [track-4-int] 0
        [track-4-end track-5-start] 1fr
        [track-5-int] 0
        [track-5-end track-6-start] 1fr
        [track-6-int] 0
        [track-6-end track-7-start] 1fr
        [track-7-int] 0
        [track-7-end track-8-start] 0.2fr
        [track-8] 0.1fr;
    }
  }
  
  .time-slot {
    grid-column: times;
  }
  
  .track-slot {
    display: none; /* hidden on small screens and browsers without grid support */
  }
  
  .week {
    display: block;
    color: rgb(77, 77, 77);
  }

  @supports( display:grid ) {
    @media screen and (min-width:0px) {
      .track-slot {
        display: block;
        text-align: center;
        padding: 10px 5px 5px;
        position: sticky;
        top: 0;
        font-size:1em;
        z-index: 1000;
        margin-left: 1px;
        color: rgb(77, 77, 77);
        background-color: rgba(255, 255, 255, 1);
        border-bottom: 1px solid rgb(216, 216, 216);
        /* border-right: 1px solid rgb(216, 216, 216); */
        
      }
    }
  }

  .schedule-container::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .schedule-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  
  /* Small-screen & fallback styles */
  .session {
    margin-bottom:  1em;
    /* margin-left: 10px; */
    /* height: 5em; */
  }
  
  @supports( display:grid ) {
    @media screen and (min-width: 0px) {
      .session {
        margin: 0;
      } 
    }
  }
  
  /*************************
   * VISUAL STYLES
   * Design-y stuff ot particularly important to the demo
   *************************/
 
  .session {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10em;
    margin-left: 0;
    padding: .2em;
    font-size: 14px;
    border-radius: 7px;
    overflow: hidden;
    
    /* transition: z-index 250ms cubic-bezier(1, 0, 1, 0); */

    /* transition-delay: 1s; */
    /* transition-property: z-index; */
    /* box-shadow:
      rgba(255,255,255,.6) 1px 1px 0,
      rgba(0,0,0,.3) 4px 4px 0; */
  }
  
  .session-title,
  .session-time,
  .session-track,
  .session-presenter {
    display: block;
  }
  
  .session-title {
    margin: 0;
    font-size: 1em;
  }
  
  .session-title a {
    color: rgb(112, 112, 112);
    text-decoration-style: dotted;
    
    /* &:hover {
      font-style: italic;
    }
    
    &:focus {
      outline: 2px dotted rgba(255,255,255,.8);
    } */
  }
  
.current-day {
  background-color: #efefef;
}
  
  /* .track-slot, */
  .time-slot {
    /* font-weight: ; */
    color: rgb(77, 77, 77);
    background-color: #fff;
    font-size:1em;
    position: relative;
    bottom: .7em;
    text-align: right;
    margin-right: 0.8em;
    padding-right: 0.5em;
    /* text-align: center; */
  }
  
  .track-1 {
    background-color: #9FE4EDdd;
    border: 1px solid #45AFBC
    /* #6FBE44
    #E6413E
    #9E7FBA
    #45AFBC */
    ;
    color: rgb(0, 0, 0);
    margin-right: .3em;
  }

  .track-1:hover {
    background-color: #87d9e4dd;
    /* transition: 1s; */
    /* transition: background-color 0.3s ease; */
    /* opacity: 0; */
  }

  .track-int {
    border-right: 1px solid rgb(216, 216, 216);
    padding-right: 0px;
  }
  /* bpygr */

  .time-int {
    border-bottom: 1px solid rgb(216, 216, 216);
    /* vertical-align: ; */
  }
  
  .track-2 {
    background-color: #FFEAC2dd    ;
    border: 1px solid #FEC150;
    color: rgb(0, 0, 0);
    margin-right: .3em;
  }
  .track-2:hover {
    background-color: #fde1aedd;
  }

  
  .track-3 {
    background-color: #C9F2B3ff;
    color: rgb(0, 0, 0);
    border: 1px solid #a7dc8b;
    margin-right: .3em;
  }

  .track-3:hover {
    background-color: #afe295dd;
  }

  .track-4 {
    background-color: #FFC5C3dd;
    color: rgb(0, 0, 0);
    border: 1px solid #E6413E;
    margin-right: .3em;
  }

  .track-4:hover {
    background-color: #f0a2a0dd;
  }

  
  .track-5 {
    background-color: #aab9ff;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(129, 150, 243);
    margin-right: .3em;
  }

  .track-5:hover {
    background-color: #7d8ed6dd;
  }
  .track-6 {
    background-color: #DBC5EEdd;
    color: rgb(0, 0, 0);
    border: 1px solid #9E7FBA;
    margin-right: .3em;
  }

  .track-6:hover {
    background-color: #ceb6e3dd;
    /* transition-delay: 500ms; */
    /* z-index: 10000; */
  }

  .track-7 {
    background-color: #DDE1E8dd;
    border: 1px solid #a6adb9;
    color: rgb(0, 0, 0);
    margin-right: .3em;
  }

  .track-7:hover {
    background-color: #c4cbd5dd;
  }

  .track-8 {
    background-color: #c1e1c1ff;
    border: 1px solid #65a865;
    color: rgb(0, 0, 0);
    margin-right: .3em;
  }

  .track-8:hover {
    background-color: #9bd09bdd;
  }
  .track-9 {
    background-color: #f2c293ff;
    border: 1px solid #edb074;
    color: rgb(0, 0, 0);
    margin-right: .3em;
  }

  .track-9:hover {
    background-color: #f4bf8add;
  }
  .track-10 {
    background-color: #f7c8faff;
    border: 1px solid #eea2f4;
    color: rgb(0, 0, 0);
    margin-right: .3em;
  }

  .track-10:hover {
    background-color: #f7bcfbdd;
  }

  .track-all:hover {
    cursor: pointer;
    transition-delay: 400ms;
    transition-property: margin-left, background-color, z-index;
    z-index: 1;
    margin-left: 0 !important;
  }
  
  .sessiontest {
    transition: background-color 0.3s ease;
  }

  .track-all {
    z-index: 0;
    /* transition-delay: 500ms; */
    transition: background-color 0.2s ease;
    /* transition-delay: 0s; */
    /* transition-property: background-color; */
  }

  
  .text {
    max-width: 750px;
    font-size: 18px;
    margin: 0 auto 50px;
  }
  
  .meta {
    color: #555;
    font-style: italic;
  }
  
  .meta a {
    color: #555;
  }
  
  hr {
    margin: 40px 0;
  }
  