/*************************
 * GRID SCHEDULE LAYOUT
 *************************/
 @media screen and (min-width:0px) {
    .schedule {
      display: grid;
      /* grid-gap: 0.2em; */
      grid-template-rows:
        [tracks] auto
        [time-int] 0em
        [time-1-int] 0em
        [time-0600] 1.8em
        [time-0630] 1.8em
        [time-2-int] 0em
        [time-0700] 1.8em
        [time-0730] 1.8em
        [time-3-int] 0em
        [time-0800] 1.8em
        [time-0830] 1.8em
        [time-4-int] 0em
        [time-0900] 1.8em
        [time-0930] 1.8em
        [time-5-int] 0em
        [time-1000] 1.8em
        [time-1030] 1.8em
        [time-6-int] 0em
        [time-1100] 1.8em
        [time-1130] 1.8em
        [time-7-int] 0em
        [time-1200] 1.8em
        [time-1230] 1.8em
        [time-8-int] 0em
        [time-1300] 1.8em
        [time-1330] 1.8em
        [time-9-int] 0em
        [time-1400] 1.8em
        [time-1430] 1.8em
        [time-10-int] 0em
        [time-1500] 1.8em
        [time-1530] 1.8em
        [time-11-int] 0em
        [time-1600] 1.8em
        [time-1630] 1.8em
        [time-12-int] 0em
        [time-1700] 1.8em
        [time-1730] 1.8em
        [time-13-int] 0em
        [time-1800] 1.8em
        [time-1830] 1.8em
        [time-14-int] 0em
        [time-1900] 1.8em
        [time-1930] 1.8em;
        /* Note 1:
        [time-15-int] 0fr
        Use 24hr time for gridline names for simplicity
  
        Note 2: Use "auto" instead of "1fr" for a more compact schedule where height of a slot is not proportional to the session length. Implementing a "compact" shortcode attribute might make sense for this!
        Try 0.5fr for more compact equal rows. I don't quite understand how that works :)
        */
        /* grid-template-columns: min-content auto; */

      grid-template-columns:
        [times] 3em
        [track-0-int] 0
        [track-1-start] 1fr
        [track-1-int] 0
        [track-1-end track-2-start] 1fr
        [track-2-int] 0
        [track-2-end track-3-start] 1fr
        [track-3-int] 0
        [track-3-end track-4-start] 1fr
        [track-4-int] 0
        [track-4-end track-5-start] 1fr
        [track-5-int] 0
        [track-5-end track-6-start] 1fr
        [track-6-int] 0
        [track-6-end track-7-start] 1fr
        [track-7-int] 0
        [track-7-end track-8-start] 0.5fr
        [track-8] 1fr;
    }
  }
  
  .time-slot {
    grid-column: times;
  }
  
  .track-slot {
    display: none; /* hidden on small screens and browsers without grid support */
  }
  
  @supports( display:grid ) {
    @media screen and (min-width:0px) {
      .track-slot {
        display: block;
        text-align: center;
        padding: 10px 5px 5px;
        position: sticky;
        top: 0;
        font-size:1em;
        z-index: 1000;
        margin-left: 0em;
        background-color: rgba(255, 255, 255, 1);
        border-right: 1px solid rgb(216, 216, 216);
        
      }
    }
  }

  .schedule-container::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .schedule-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  
  /* Small-screen & fallback styles */
  .session {
    margin-bottom:  1em;
    /* margin-left: 10px; */
    /* height: 5em; */
  }
  
  @supports( display:grid ) {
    @media screen and (min-width: 0px) {
      .session {
        margin: 0;
      } 
    }
  }
  
  /*************************
   * VISUAL STYLES
   * Design-y stuff ot particularly important to the demo
   *************************/
 
  .session {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10em;
    margin-left: 0;
    padding: .2em;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    overflow: hidden;
    /* box-shadow:
      rgba(255,255,255,.6) 1px 1px 0,
      rgba(0,0,0,.3) 4px 4px 0; */
  }
  
  .session-title,
  .session-time,
  .session-track,
  .session-presenter {
    display: block;
  }
  
  .session-title {
    margin: 0;
    font-size: 1em;
  }
  
  .session-title a {
    color: rgb(112, 112, 112);
    text-decoration-style: dotted;
    
    /* &:hover {
      font-style: italic;
    }
    
    &:focus {
      outline: 2px dotted rgba(255,255,255,.8);
    } */
  }
  
.current-day {
  background-color: #efefef;
}
  
  /* .track-slot, */
  .time-slot {
    /* font-weight: bold; */
    background-color: #fff;
    font-size:.9em;
    position: relative;
    bottom: .6em;
    text-align: right;
    margin-right: 0.6em;
    padding-right: 0.1em;
    /* text-align: center; */
  }
  
  .track-1 {
    background-color: #f58eabdd;
    border: 1px solid #000000;
    color: rgb(0, 0, 0);
    margin-right: .3em;
  }

  .track-1:hover {
    background-color: #f58eab;
  }

  .track-int {
    border-right: 1px solid rgb(216, 216, 216);
    padding-right: 0px;
  }

  .time-int {
    border-bottom: 1px solid rgb(216, 216, 216);
    /* vertical-align: ; */
  }
  
  .track-2 {
    background-color: #ffaa85ea;
    border: 1px solid #000000;
    color: rgb(0, 0, 0);
    margin-right: .3em;
  }
  .track-2:hover {
    background-color: #ffaa85;
  }

  
  .track-3 {
    background-color: #ffd885cd;
    color: rgb(0, 0, 0);
    border: 1px solid #000000;
    margin-right: .3em;
  }

  .track-3:hover {
    background-color: #ffd885;
  }

  .track-4 {
    background-color: #bfefbdd2;
    color: rgb(0, 0, 0);
    border: 1px solid #000000;
    margin-right: .3em;
  }

  .track-4:hover {
    background-color: #bfefbd;
  }

  .track-5 {
    background-color: #c7f6fad5;
    color: rgb(0, 0, 0);
    border: 1px solid #000000;
    margin-right: .3em;
  }

  .track-5:hover {
    background-color: #c7f6fa;
  }

  .track-6 {
    background-color: #d5aed1cb;
    color: rgb(0, 0, 0);
    border: 1px solid #000000;
    margin-right: .3em;
  }

  .track-6:hover {
    background-color: #d5aed1;
  }

  .track-7 {
    background-color: #fff799ce;
    border: 1px solid #000000;
    color: rgb(0, 0, 0);
    margin-right: .3em;
  }

  .track-7:hover {
    background-color: #fff799;
  }
  
  .track-all:hover {
    cursor: pointer;
  }
  
  .text {
    max-width: 750px;
    font-size: 18px;
    margin: 0 auto 50px;
  }
  
  .meta {
    color: #555;
    font-style: italic;
  }
  
  .meta a {
    color: #555;
  }
  
  hr {
    margin: 40px 0;
  }
  